<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
  <link href="style.css" rel="stylesheet">
</head>

<body>

  <p>Gee, thanks!</p>
  <a href="#!" class="paddle_button" data-product="14532">Buy Now!</a>


  <script type="text/javascript">
    Paddle.Environment.set('sandbox');
    Paddle.Setup({ 
      vendor: 2714,
      completeDetails: true
     });
  </script>
  <script src="script.js"></script>
</body>

</html>
